#main-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.25rem;
}

textarea {
  width: 100%;
  height: 100px;
}

.loading {
  color: purple;
}

.done {
  color: green;
}


